.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App .content-wrapper {
  background: #fff2f6;
  padding: 20px;
  margin: 50px auto;
  border-radius: 30px;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 150px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  padding: 10px;
  border-radius: 6px;
  background: #fec2c7;
  color: #70757a;
}

.App-footer a {
  color: #138da5;
  text-decoration: none;
}
