.Phonetic {
  height: 40px;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  color: #56e0fa;
}

.Phonetic a:hover {
  background: #56e0fa;
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
